<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>
<style>
    body {
    
    background-color:aqua;
}
.peapoleTable {
   
    width:400px;
}
p{
  
}
.test{
    background-color:forestgreen;
    width:200px;
    height:200px;
}
</style>
<body>
    @if(User.IsInRole("Admin")){
    <div>@Html.ActionLink("City","City","City")</div>
    <div>@Html.ActionLink("Language","Language","Language")</div>
    <div>@Html.ActionLink("Countery","Countery","Countery")</div>
    <div>@Html.ActionLink("Person","Index","Home")</div>
    }
    <partial name="_LoginPartial" />
    <div>
        
        @RenderBody()
        @RenderSection("Scripts", required:false)
    </div>
    <script>

function getPartial() {

$.get("Home/Partial", function(data) {
    document.getElementById("pep").innerHTML =data;
    
}); 
}

 $(".det").click(function() {
     var s =$("#details").val();
     var action = $(this).val();

     console.log(action);

        $.post(action, {stuff:s},function(result) {
            
        document.getElementById("pep").innerHTML =result;
        
    
        }); 
       });
 
        function postAdd() {
     console.log($("input[name='Phone']").val()+""+$("input[name='CityID']").val()+""+$("input[name='Name']").val());
        $.post("Home/addPeapole", {Name: $("input[name='Name']").val(), CityID: $("input[name='CityID']").val(), Phone: $("input[name='Phone']").val()},function(result) {
            
        document.getElementById("pep").innerHTML =result;
          
        }); 
        function postPersonLanguage() {
     alert($("input[name='Id']").val()+""+$("input[name='LanguageID']").val());
        $.post("Home/RemoveLanguage", {Id: $("input[name='Id']").val(), LanguageID: $("input[name='LanguageID']").val(),}    
       
          
        ); 
       }
       }
    </script>
</body>
</html>
