
@using Mvc_Data.Models
@model IEnumerable<CreatePersonViewModel>
@{
    int.TryParse(ViewBag.Phrase, out int j);
}
<p>@Html.ValidationSummary()</p>
<p>@ViewBag.deletMessage</p>

@foreach (var v in Model)
{
    
        <div class="row"> 
	    <p class="col-sm-4">@v.Name</p> 
        <p class="col-sm-4">@v.CityID</p> 
        <p class="col-sm-4">@v.Phone</p>
        <p class="col-sm-4">ID: @v.Id</p>
        <p class="col-sm-4">@v.CityName</p>
        <p class="col-sm-4">@v.CounteryName</p>
        <p class="col-sm-4">@v.LanguageName</p>
</div> 
                         
}
      
